@use "../tools/mixins/mixins.scss" as *;
@use "../tools/variables/variables.scss" as *;




main{
    width: 100%;
    height: auto;
    min-width: 320px;
    

    .main-section{
        .background-images{
            position: relative;
            width: 100%;
            height: 100vh; 
            min-height: 500px; 
            overflow: hidden;
            .main-section__main-background{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; 

            }
            .main-section__logo-image{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 200px;
                height: auto;
            }

        }
        
        /*.main-section__hero{
            width: 90%;
            min-width: 288px;
            max-width: 900px;
            height: 218px;
            text-align: center;
            align-self: center;
            h1{
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: $primary-text-color;
            }

            p{
                margin-top: 25px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8rem;
                color: $primary-text-color;
            }
            

        } */
        

    }

    .product-detail{
        position: relative;
        width: 100%;
        min-width: 320px;
        height: auto;
        padding: 20px 10px;
        background-color: $primary-color;

        .product-detail__logo{
            position: absolute;
            width: 40px;
            height: 25px;
            background-image: url("../../Assets/icons/svg/Ahorro.svg");
            background-size: contain;
            background-repeat: no-repeat;
            top: -10px;
            left: 51%;

        }

        .product-detail__title{
            width: 90%;
            min-width: 288px;
            height: auto;
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;

            h2{
                margin-bottom: 20px;
                font-size: 2.4rem;
                font-weight: bold;
                line-height: 2.6rem;
                color: $primary-text-color;

            }

            p{
                margin-bottom: 20px;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 1.8;
                color: #B0B0B0;

            }

        }
        .product-detail__cards{
            .product-detail__card{
                width: 90%;
                min-width: 288px;
                max-width: 400px;
                height: 200px;
                margin: 15px auto;
                padding: 15px;
                background: $secondary-color;
                border-radius: 5px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
                .product-detail__card-logo{
                    display: inline-block;
                    @include icon("../../Assets/icons/svg/tranquilidad-icon.svg", 30px, 30px, cover);
                    margin-bottom: 10px;
                    filter: invert(32%) sepia(88%) saturate(747%) hue-rotate(210deg);
    
                }

                .product-detail__card-logo--two{
                    display: inline-block;
                    @include icon("../../Assets/icons/svg/seguridad-icon.svg", 30px, 30px, cover);
                    margin-bottom: 10px;
                    filter: invert(32%) sepia(88%) saturate(747%) hue-rotate(210deg);
    
                }
                .product-detail__card-logo--three{
                    display: inline-block;
                    @include icon("../../Assets/icons/svg/engaños-icon.svg", 30px, 30px, cover);
                    margin-bottom: 10px;
                    filter: invert(32%) sepia(88%) saturate(747%) hue-rotate(210deg);
    
                }
                
                .product-detail__card-logo--four{
                    display: inline-block;
                    @include icon("../../Assets/icons/svg/sin-limites-icon.svg", 30px, 30px, cover);
                    margin-bottom: 10px;
                    filter: invert(32%) sepia(88%) saturate(747%) hue-rotate(210deg);
    
                }

                .product-detail__card-title{
                    margin-bottom: 15px;
                    font-size: 1.8rem;
                    font-weight: bold;
                    line-height: 1.8rem;
                    color: $primary-text-color;
                }

                .product-detail__card-description{
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #B0B0B0;
                }

            }

            .product-detail__card--two{
                background-color: #B0B0B0;
                .product-detail__card-title--two{
                    color: #333;
                }

                .product-detail__card-description--two{
                    color: #333;
                }
            }

            .product-detail__card--four{
                @extend .product-detail__card--two;
                .product-detail__card-title--four{
                    @extend .product-detail__card-title--two;
                }

                .product-detail__card-description--four{
                    @extend .product-detail__card-description--two;
                }
                
            }

            

        }
    }
   
    
    
    
   
    
   
    

    
    
}