@use "../../tools/variables/variables.scss" as *;
@use "../../tools/mixins/mixins.scss" as *;


@media (min-width: 768px) and (max-width: 1024px) {
  main{
    
  
    .main-section {

      .background-images{
        .main-section__logo-image{
          width: 300px;
        }
      }
    }
  
    .product-detail {
      padding: 20px;
      .product-detail__logo {
        width: 40px;
        height: 40px;
      }
  
      .product-detail__title {
        margin-top: 40px;
      }
  
      .product-detail__cards {
        .product-detail__card {
          width: 100%;
          max-width: 350px;
        }
      }
    }

  }
  
}