@use "../../tools/mixins/mixins.scss" as *;
@use "../../tools/variables/variables.scss" as *;

@media (min-width: 1025px) {
    main{
        .product-detail {
            padding: 20px;
            .product-detail__logo {
              width: 50px;
              height: 35px;
            }
        
            .product-detail__title {
              margin-top: 40px;
            }
        
            .product-detail__cards {
              @include flexbox(null, wrap, null, null, null);
              width: 930px;
              margin: 0 auto;
              .product-detail__card {
                width: 100%;
                max-width: 350px;
              }
            }
        }
      
        
    }


    
}


