$primary-color: #324359;    // Fondo de navegación, botones secundarios
$secondary-color: #152C40;  // Fondos oscuros
$tert-color: #012611;       // Detalles pequeños
$qua-color: #668C14;        // Botones y CTA
$primary-text-color: #F1F1F1; // Textos sobre fondos oscuros
$hero-color: #222;          // Fondo del hero section
$gradient: linear-gradient(145deg, #2E2E2E, #3D3D3D);